{% extends "layout.base.html.twig" %}

{% block description %}Home{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}<h1>Udacity SL Automation (Unofficial) | Home</h1>{% endblock %}