{% extends "layouts/layout.base.html.twig" %}

{% block description %}Server Error{% endblock %}

{% block title %}Server Error{% endblock %}

{% block navTitle %} | Server Error{% endblock %}

{% block content %}<div class="container"></div>{% endblock %}