{% extends "layout.login-signup.html.twig" %}

{% block description %}Sign up to do your Udacity session lead job with ease.{% endblock %}

{% block title %}Sign up{% endblock %}

{% block content %}
    {% for error in errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <div>{{error}}</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <form 
        action="/session-leads"
        method="post"
        class="form-login-signup m-auto"
    >
        <h1 class="h3 mb-3 fw-normal">Signup to Udacity SL Automation</h1>
        <div class="form-floating">
        <input 
            type="email" 
            class="form-control" 
            id="email" 
            placeholder="Email address" 
            {% if userInput.email is defined %}
                value="{{userInput.email}}"
            {% endif %}
            name="email"
        >
        <label for="email">Email address</label>
        </div>
        <div class="form-floating">
            <input 
                type="password" 
                class="form-control" 
                id="password" 
                placeholder="Your Password"
                name="password"
            >
            <label for="password">Your Password</label>
        </div>
        <div class="form-floating">
            <input 
                type="password" 
                class="form-control" 
                id="google_app_password" 
                placeholder="Your Google Application Password"
                name="google_app_password"
            >
            <label for="google_app_password">Your Google Application Password</label>
        </div>
        <input class="w-100 btn btn-lg btn-primary" type="submit" name="submit" value="Sign Up"/>
        <p class="mt-5 mb-3 text-muted">&copy; yactouat 2022</p>
    </form>
{% endblock %}