body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.app-form {
  max-width: 330px;
  padding: 15px;
}

.app-form .form-floating:focus-within {
  z-index: 2;
}

.app-form input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.app-form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bi-question-square {
  position: absolute;
  top: 50%;
  right: -10%;
  cursor: pointer;
}

.modal-body ol li {
  text-align: left;
}

.form-check-inline .form-flag {
  width: 25px;
  height: 15px;
  vertical-align: initial;
}
