:root {
    --primary-color: #2015FF;
    --secondary-color: #ffffff;
    --brand-color: #898980;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: var(--secondary-color);
}

.with-tooltip {
  position: relative;
}
  
